// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 62.5%;

$primaryColor: #B71C1C;
$secondaryColor: #3c3c3c;
$accentColor: #D50000;
